.customizeContainer {
  width: 100%;
  height: 498px;
  margin-bottom: 100px;
}
.customizeHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customizeHeader p {
  color: #646464;
  /* Text/H2 */
  font-family: "Poppins-Regular" !important;
  font-size: 38px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 124% !important;
  text-align: center;
}
.customizeCardBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}
.customizeCardBox > * {
  flex: 0 0 200px;
}
.customizeCard {
  width: 200px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.customizeCardIconBox {
  width: 32px;
  height: 32px;
}
.customizeCardIconBox img {
  width: 100%;
  height: 100%;
}
.customizeCardText p {
  color: #808080;
  font-family: "Poppins-Regular" !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 140% !important;
  text-align: center;
}
.customizeSummeryBox {
  width: 100%;
  height: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.customizeSummeryBG {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../../Assets//images/BYB_HOME_HOW_CAN.png);
  background-size: cover;
  opacity: 0.6;
}
.customizeSummeryBox p {
  color: #212121;
  text-align: center;
  font-family: "Poppins-Regular" !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal !important;
  z-index: 1;
}
.customizeCardText {
  padding: 0 9px;
}
/* Tab view*/
@media only screen and (min-width: 768px) {
  .customizeCardText p {
    font-size: 17px !important;
  }
  .customizeCardBox {
    overflow: inherit;
  }
  .customizeCard {
    height: 200px;
    margin: 0 20px;
  }
  .customizeCardBox > * {
    flex: 0 0 155px;
  }
  .customizeHeader p {
    font-size: 45px !important;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .customizeContainer {
    width: 100%;
  }
  .customizeCardText {
    padding: 0;
  }
  .customizeCardText p {
    font-size: 18px !important;
  }
  .customizeCardBox > * {
    flex: 0 0 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .customizeContainer {
    width: 100%;
  }
}
